html{
	 font-size: 62.5%;
}
*{
	 margin: 0;
	 padding: 0;
}
body{
	 background-color: green;
	 }
p{
	 color: white;
	 font-size:1.8em;
	 text-align:center;
}
img{
	vertical-align: bottom;
	}
.header{
	 position: absolute;
	 top:1em;
	 left:1em;
	}
.top{
     width:70%;
     /*display: flex;
     ustify-content: center;
     align-items: center;*/
     margin:10em auto;
     text-align: center;
}
.main{
	  width:70%;
	  margin: 0 auto;
	  text-align: center;
}
.footer{
     width:70%;
     /*justify-content:space-around;*/
     margin:100px auto;
}
.left{
	 float: left;
	 margin: 0 auto;
	 text-align: center;
}
.right{
	 float: right;
	 margin: 0 auto;
	 text-align: center;
}